* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.rectangle {
    margin: 10px;
    width: 150px;
    height: 100px;
    background-color: orangered;
   
}

#box1 {
     animation: myanimation 10s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}

#box2 {
    animation: myanimation2 10s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}

@keyframes myanimation {
    from {
        background-color: orangered;
    }
    to {
        background-color: green;
    }
}

@keyframes myanimation2 {
    0% {
        background-color: orangered;
    }
    20% {
        background-color: blue;
    }
    50% {
        background-color: yellow;
    }
    90% {
        background-color: black;
    }
    100% {
        background-color: pink;
    }
}