* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: #0E0E0E;
}

html {
    color: #DAC5A7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
}



.view-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 1rem;

    img {
        width: 70%;
        object-fit: cover;
    }

    p {
        text-align: center;
        line-height: 1.5;
        font-size: 1.2rem;

        br {
            display: none;
        }

        margin: 0.5rem 0;

    }

    h1 {
        text-align: center;
        font-size: 3.5rem;
        font-weight: 100;

        span {
            font-style: italic;
        }
    }
}

.view-2 {
    padding: 2rem 2rem;

    display: flex;
    justify-content: center;

    overflow: hidden;

    .marquee {
        width: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: row;

        position: relative;

        &::after {
            content: "";
            height: 100%;
            width: 30%;

            background-image: linear-gradient(to right, #0e0e0e, transparent);

            position: absolute;
            top: 0;
            left: 0;

            z-index: 2;
            pointer-events: none;
            // Allow user to touch niche wake objects
        }

        &::before {
            content: "";
            height: 100%;
            width: 30%;

            background-image: linear-gradient(to left, #0e0e0e, transparent);

            position: absolute;
            top: 0;
            right: 0;

            z-index: 2;
            pointer-events: none;
        }

        .logos {
            animation-name: marquee;
            animation-duration: 10s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            animation-direction: both;

            display: flex;
            gap: 1rem;

            img {
                padding: 2rem;
                width: 12%;
            }
        }

    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.view-3 {
    width: 100%;
    padding: 1rem 1.3rem;

    display: flex;
    flex-direction: column;

    gap: 1rem;

    .card {

        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        border: 1px solid none;
        background-color: #181716;
        border-radius: 1.5px;

        box-shadow: inset 0 0 1px #DAC5A7;

        h3 {
            font-size: 1.4rem;
            font-weight: 300;
            text-transform: uppercase;

            padding-bottom: 1rem;
        }

        .num {
            font-size: 0.8rem;
            letter-spacing: 3px;
        }

        p {
            font-size: 1rem;
            font-weight: 100;
            word-spacing: 1px;
        }

    }
}

a.btn {
    padding-top: 2rem;
    display: flex;
    justify-content: flex-start;

    gap: 10px;

    p {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 0.8rem;

        margin: auto 0px;

        color: #DAC5A7;
    }

    div.btn-icon {
        padding: 4px;
        border-radius: 50%;
        box-shadow: inset 0 0 1px #DAC5A7;

        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-size: cover;

        transition: transform 0.5s ease;

        &:hover {
            box-shadow: 0 0 3px #DAC5A7;
            transform: rotate(45deg);
        }

        img {
            width: 15px;
        }
    }

}

.view-4 {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 1rem;


    .title {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
            text-align: center;
        }

        .btn {
            justify-content: center;
            padding: 0;
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 1rem;

        .content {
            display: flex;
            flex-direction: column;
            position: relative;

            .btn0 {
                width: 100%;
                position: absolute;
                bottom: 0;
                padding: 1rem;
            }

            .image-btn {
                padding: 1rem 2rem;

                display: flex;
                justify-content: space-between;
                flex-direction: row;

                backdrop-filter: blur(8px);
                background: rgba(255, 255, 255, 0.1);

                font-size: small;

                h3 {
                    font-weight: 200;
                }
            }
        }
    }
}

.view-5 {
    width: 100%;
    padding: 6rem 1rem;

    .part-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        p {
            font-size: 1rem;
            letter-spacing: 0.1rem;
        }

        h2 {
            font-size: 6rem;
            font-weight: 100;

            span {
                font-style: italic;
            }
        }

        p.main-content {
            margin: 2rem 0rem;
        }
    }

    .part-2 {
        display: grid;
        grid-template-columns: 10% 90%;
        justify-content: space-between;

        .part2-2 {
            grid-column: 1/ span 1;
            grid-row: 1/ span 6;
        }



        .s1 {
            margin-top: 8rem;
            grid-column: 2/3;
            grid-row: 1/2;
        }

        .s2 {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .s3 {
            grid-column: 2/3;
            grid-row: 3/4;
        }

        .s4 {
            grid-column: 2/3;
            grid-row: 4/5;
        }

        .s5 {
            grid-column: 2/3;
            grid-row: 5/6;
        }


    }

}

.view-5 .content {
    box-shadow: inset 0 0 1px #DAC5A7;
    border-radius: 2px;
    margin: 1rem;
    padding: 3rem;

    background-color: #181716;

    position: relative;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    h3 {
        font-weight: 100;
        font-size: 0.8rem;
        letter-spacing: 0.2rem;

        text-transform: uppercase;

    }

    h2 {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;

        margin-bottom: 1.8rem;
    }

    p.main-content,
    ul {
        font-weight: 100;
    }

    ul {
        list-style-type: disc;

        line-height: 3rem;
        padding-left: 3rem;
    }

    .tag {
        position: absolute;
        top: 1rem;
        right: 1rem;

        box-shadow: inset 0 0 1px #DAC5A7;
        border-radius: 2px;
        padding: 0.4rem 0.6rem;


    }
}


.part-2 .part2-2 {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    align-items: center;

    .circle {
        margin: 0.5rem;
        text-align: center;

        border-radius: 50%;
        padding: 0.8rem;

        box-shadow: inset 0 0 1px #DAC5A7;

        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;

        background-color: #181716;

    }

    .circle img {
        transform: rotate(135deg);
    }

    .circle p {
        padding: 0.1rem 0.25rem;
    }

    .line {
        height: 20%;
        width: 1px;
        background-color: #DAC5A7;
    }

    width: 10%;
}

.view-5 div[class="content blank"] {
    display: none;
}

@media (min-width : 1020px) {

    html {
        // 1vw ki value is range me rakhta hai
        font-size: clamp(16px, 1vw, 20px);
    }

    .view-1 {
        img {
            width: 35%;
        }

        h1 {
            font-size: 7.3rem;
            line-height: 0.9;
            margin-bottom: 1.2rem;

            span {
                font-style: italic;
            }
        }

        p {
            br {
                display: block;
            }
        }
    }

    .view-2 {
        padding: 2rem 8rem;

        .marquee {
            width: 80%;
        }
    }

    .view-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        align-items: center;
    }

    .view-4 {

        .title {
            width: 100%;
            padding: 4rem 6rem 1rem 6rem;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            align-items: center;

            h1 {
                text-align: center;
                font-size: 3rem;
                font-weight: 100;
            }

            .btn {
                justify-content: center;
                padding: 0;
            }
        }

        .main-content {
            padding: 0rem 4rem;
            display: grid;
            grid-template-columns: 50% 50%;

            row-gap: 1.5rem;
            column-gap: 1.5rem;
        }
    }

    .view-5 {
        width: 100%;
        padding: 6rem 1rem;

        .part-1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            text-align: center;

            p {
                font-size: 1rem;
                letter-spacing: 0.1rem;
            }

            h2 {
                font-size: 6rem;
                font-weight: 100;

                span {
                    font-style: italic;
                }
            }

            p.main-content {
                margin: 2rem 0rem;
            }

        }

        .part-2 {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .part2-1 {
                padding-top: 6rem;
                width: 45%;
            }



            .part2-3 {
                padding-top: 6rem;
                width: 45%;
            }


        }
    }

    .part2-1> :nth-child(odd) {
        visibility: hidden;
    }

    .part2-3> :nth-child(even) {
        visibility: hidden;
    }

    .view-5 div[class="content blank"] {
        display: block;
    }

    .part-2 .part2-2 .line {
        height: 8%;
    }

}