* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 100%;
    
    padding: 5px;

    background-color: rgb(12, 13, 13);

    row-gap: 10px;
    column-gap: 10px;

    display: grid;
    grid-template-areas: "a "
                         "b"
                         "c"
                         "d"
                         "e"
                         "f"
                         "g"
                         "h"
                         "i"
                         "j";
}

.box {
        border: none;
        border-radius: 20px;
    }

img {
    width: 100%;

    aspect-ratio: 9/16;
    /* width/height */

    object-fit: cover;
}

@media (min-width: 1080px) {
    .wrapper {
            grid-template-areas: "a a b c"
                         "a a d e"
                         "f g j j"
                         "h i j j";
    }

    img {
        aspect-ratio: 16/9;
    }
    .a1 {
        /* row / col / row-span / col-span */

        /* grid-area: 1 / 1 / 3 / 3; */

        grid-area: a;

        /* grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3; */
    }

    .b1 {
        /* grid-area: 1 / 3 / 2 / 4; */

        grid-area: b;

        /* grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2; */
    }

    .b2 {
        /* grid-area: 1 / 4 / 2 / 5; */

        grid-area: c;

        /* grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2; */
    }

    .b3 {
        /* grid-area: 2 / 3 / 3 / 4; */

        grid-area: d;

        /* grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3; */
    }

    .b4 {
        /* grid-area: 2 / 4 / 3 / 5; */

        grid-area: e;

        /* grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3; */
    }

    .c1 {
        /* grid-area: 3 / 1 / 4 / 2; */

        grid-area: f;

        /* grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4; */
    }

    .c2 {
        /* grid-area: 3 / 2 / 4 / 3; */

        grid-area: g;

        /* grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4; */
    }

    .c3 {
        /* grid-area: 4 / 1 / 5 / 2; */

        grid-area: h;

        /* grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5; */
    }

    .c4 {
        /* grid-area: 4 / 2 / 5 / 3; */

        grid-area: i;

        /* grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5; */
    }

    .d1 {
        /* grid-area: 3 / 3 / 5 / 5; */

        grid-area: j;

        /* grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5; */
    }

}