* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 100%;

    padding: 5px;

    background-color: rgb(12, 13, 13);

    row-gap: 10px;
    column-gap: 10px;
    display: grid;
}

img {
    width: 100%;

    aspect-ratio: 1/1;
    /* width/height */

    object-fit: cover;
}

@media (min-width:720px) {
    .box {
        border: none;

        border-radius: 20px;
    }

    .a1 {
        /* row / col / row-span / col-span */
        grid-area: 1 / 1 / 3 / 3;

        /* grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3; */
    }

    .b1 {
        grid-area: 1 / 3 / 2 / 4;

        /* grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2; */
    }

    .b2 {
        grid-area: 1 / 4 / 2 / 5;

        /* grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2; */
    }

    .b3 {
        grid-area: 2 / 3 / 3 / 4;

        /* grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3; */
    }

    .b4 {
        grid-area: 2 / 4 / 3 / 5;

        /* grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3; */
    }

    .c1 {
        grid-area: 3 / 1 / 4 / 2;

        /* grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4; */
    }

    .c2 {
        grid-area: 3 / 2 / 4 / 3;

        /* grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4; */
    }

    .c3 {
        grid-area: 4 / 1 / 5 / 2;

        /* grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5; */
    }

    .c4 {
        grid-area: 4 / 2 / 5 / 3;

        /* grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5; */
    }

    .d1 {
        grid-area: 3 / 3 / 5 / 5;

        /* grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5; */
    }

}