*{
    margin: 0;
    padding: 0;
    background-color: black;
}

html,body {
    width: 100%;
    height: 100%;
}

#parent {
    width: 300px;
    height: 200px;
    background-color: #fff;
    margin: 10px;
}



#child {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 0, 0, 0.363);

    position: absolute; 
}

#parent2 {
    width: 300px;
    height: 200px;
    background-color: #fff;
    margin: 10px;

    position: relative; /* control absolute child because without it absolute consider screen as their parent */
}

#main-child {
    width: 50%;
    height: 50%;
    background-color: rgba(0, 128, 0, 0.522);

    position: absolute;
}