* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.rectangle {
    margin: 10px;
    width: 150px;
    height: 100px;
    background-color: orangered;

    transition: width 1s ,background-color 1s ease-in-out;
}

.rectangle:hover {
    width: 350px;
    background-color: lightsteelblue;
}
