* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 100px;
}
.innerdiv {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 200px;
    perspective: 800px;
}

.box {
    margin: 10px;
    width: 150px;
    height: 100px;
    background-color: rgb(207, 83, 38);
}

/* ''''''''''''''''''''''''''''''''''''''''''''''''''''' */
#transform2d {
    /* transform: rotate(10deg); */

    /* transform: scale(1.3); */
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),background-color 1s cubic-bezier(0.19, 1, 0.22, 1);

}

#transform2d:hover {
    transform: scale(0.8) skewY(30deg);
    background: burlywood;
}

/* ------------------------------------------------------- */
#transform3d {
    margin-bottom: 400px;
    background-color: #0d79c6;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#transform3d:hover {
    transform: translate3d(-57px,-70px,300px);
}

