* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color: lightsteelblue;
}

#parent{
    width: 100%;
    height: 100%;

    background-image: url('./images/bg2.jpg');

    background-size: cover;
    /* width wise cover */

    background-size: contain;
    /* height wise cove but cause repeation */

    /* background-repeat: no-repeat; */
 
    /* background-position: bottom; */
    /* background-position: 70% 50%; */
}