body {
    margin: 40px;
}



.a2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.b2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.c2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.d {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.e2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.f2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}