* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 16px;
}

.child {
    font-size: 50px;
}

h1 {
    /* depend on parent (.child ) font size  */
    font-size: 2em;
}