* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}


.parent {
    /* Its parent = body */

    height: 400px;

    width: 100%; 
    /* percentage(%) - depend on parent  */

    background-color: rgb(3, 74, 92);
}

.child {
    height: 200px;
    width: 200px;
    
    background-color: red;
}