* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}


/* 

vh = viewport height
vw = viewport width

*/

.parent {
    height: 100vh; /* 100% viewport height */
    width: 100vw; /* 100% viewport width */

    background-color: lightsteelblue;
}

